[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
yellowbrick = "*"
umap = "*"
setuptools = "==58.2.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
